/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.navegador{
  display: flex;
  align-items: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.logo{
  width: 150px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


/*NAVEGADOR*/

.div-navegador{
  display: flex;
  align-items: center;
}
nav {
  background-color: #498ccfd7; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar img {
  height: 120px;
  width: auto;
  margin-right: 40px;
}

.navbar-item {
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 25px;
  color: yellow; 
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}

.navbar-user-score {
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 25px;
  color: yellow; 
  margin-right: 20px;
  position: relative;
}

.navbar-item::before,
.navbar-item::after {
  content: "";
  position: absolute;
  width: 100%; 
  height: 2px;
  background-color: yellow; 
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-item::before {
  top: 100%; 
  left: 0;
}

.navbar-item::after {
  top: 100%; 
  right: 0;
}

.navbar-item:hover::before,
.navbar-item:hover::after {
  transform: scaleX(1);
}


.navegador-li{
  font-size: 20px;
}
.linkk{
  text-decoration: none;
  color: yellow;
}
