<body>
    

<main class=" main-fin">
        <div class="contenedorr">

        <div class="title-fin">
            <p class="tuclase"> <strong > Fin del Juego!!</strong></p>
        </div>

        <div class="padre-fin container cont-fin">
        
        <div class="carta-fin">
            <div>
            <p class="p-fin">Felicidades Juan!</p>
            <p class="p-finn">Has obtenido 200 puntos!</p>
            <div class="gif-fin">
            <img src="/img/emoji.gif" alt="">
            </div>  
            <div class="boton-fin">
                <button class="button-fin">
                    <a href='@Url.Action("ConfigurarJuego")'>Volver a jugar!</a>
                </button>
            </div>        
        </div>
            
        </div>

    </div>
       
      </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>