@{
    ViewData["Title"] = "Home Page";
}
<div class="div-index">
        <div class="title-index">
          <p class="tuclase">Preguntad<strong>Ort</strong></p>
        </div>
        <div class="imgs">
          <img src="/img/ciencia.png" alt="Persoanje 1">
          <img src="/img/deportes.png" alt="Persoanje 2">
          <img src="/img/geografia.png" alt="Persoanje 3">
          <img src="/img/entretenimiento.png" alt="Persoanje 4">
          <img src="/img/historia.png" alt="Persoanje 5">
          <img src="/img/arte.png" alt="Persoanje 6">
        </div>

        <div class="boton">
        <button class="jugar-button">
            <a href='@Url.Action("ConfigurarJuego")'>Comenzar</a>

        </button>
      </div>

</div>





