<form action='@Url.Action("VerificarRespuesta")' method="post" class="formulario">
<div class="form">
<h2>Pregunta: @ViewBag.pregunta.Enunciado</h2>
@foreach (Respuestas item in ViewBag.Respuestas)
{
  <button type="submit" name="IdRespuesta" value="@item.IdRespuesta">@item.Contenido</button>
}
</div>
</form>
